.posts-expand .post-tags {
  text-align: left;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
	border-bottom: none;
	background-color: #f5f5f5;
    padding: 1px 5px;
  }
}
